<nav class="navbar navbar-expand-lg bg-success bg-gradient">
    <div class="container-fluid">
        <h1 class="me-auto">
            <a class="navbar-brand text-white h1" href="#">
                <img src="../../../assets/logo.svg" alt="Inote logo" class="w-25">
                Inote
            </a>
        </h1>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                   <a [routerLink]="['/login']" class="inoteNavLink">Se connecter</a>
                </li>
            </ul>
        </div>
    </div>
</nav>