# Ignore Angular/NodeJS temporary files.

## Angular ##
node_modules/
dist/
tmp/
app/**/*.js
app/**/*.js.map
typings/
.angular/cache/
e2e/*.js
e2e/*.map
coverage/

## File systems ##
.DS_Store/

## NodeJS ##
logs
*.log
npm-debug.log*

## ESLint
.nx/cache
.nx/workspace-data
