#user-bloc {
    margin-top: 8rem;
}

#user-picture {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    object-position: center;
}

#biography {
    max-height: 8rem;
}

#result-text a {
    text-decoration: none;
}

#no-user {
    margin-top: 15rem;
}