<footer>
<div
    class="container-fluid d-lg-flex flex-lg-row justify-content-lg-around flex-md-column d-md-flex align-items-md-center flex-sm-column d-sm-flex align-items-sm-center">
    <section class="d-flex flex-column align-items-center justify-content-center">
        <h4>{{this.lang.pickMsg(this.siteSectionsPath)}}</h4>
        <ul class="inote-list-without-points gap-2 d-lg-flex flex-lg-row justify-content-lg-center flex-md-column d-md-flex align-items-md-center flex-sm-column d-sm-flex align-items-sm-center">
            <li>
                <a
                    class="text-center inote-small-comment text-decoration-none text-black-50 inote-link-normal">{{this.lang.pickMsg(this.contactPath)}}</a>
            </li>
            <li> <a
                    class="text-center inote-small-comment text-decoration-none text-black-50 inote-link-normal">{{this.lang.pickMsg(this.termsAndConditionsPath)}}</a>
            </li>
            <li> <a
                    class="inote-small-comment text-decoration-none text-black-50 inote-link-normal">{{this.lang.pickMsg(this.privacyAndSecurityPath)}}</a>
            </li>
            <li> <a
                    class=" inote-small-comment text-decoration-none text-black-50 inote-link-normal">{{this.lang.pickMsg(this.cookiesPath)}}</a>
            </li>
        </ul>
    </section>

    <section class="d-flex flex-column align-items-center">
        <h4>{{this.lang.pickMsg(this.followUsPath)}}</h4>
        <ul class="inote-list-without-points gap-lg-2  gap-sm-4 d-flex ">
            <li> <a class="inote-link-normal text-black-50"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
            <li> <a class="inote-link-normal text-black-50"><fa-icon [icon]="faLinkedin"></fa-icon></a></li>
            <li> <a class="inote-link-normal text-black-50"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
            <li> <a class="inote-link-normal text-black-50"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
        </ul>
    </section>
</div>
<p class="text-center inote-small-comment"><strong>Inote&copy;</strong> - {{this.currentDate}} -
    {{this.lang.pickMsg(this.allReservedRightsPath)}}</p>
</footer>