<form #activateUserForm="ngForm">
  <!-- Input fields agencement -->
  <div class="d-flex flex-column align-items-center">
    

    <div [ngSwitch]="this.step">

      <!-- Nota bene : It seems not possible to use enum literals on template -->

      <!-- Case SEND_AUTH_CODE -->
      <div *ngSwitchCase=1>
        <div class="d-flex flex-column">
          <h3 class="mb-3">Saisie du code d'activation du compte</h3>
          <p class="inote-small-comment">
            Le code d'activation de votre compte viens de vous être envoyé à l'adresse
            <strong>{{this.emailWhereCodeSended}}</strong>.<br>
          </p>
          <div class="align-items-center input-group input-group-sm mb-3 mx-auto">
            <span class="input-group-text" id="inputGroup-sizing-sm">Code d'authentification</span>
            <input type="text" class="form-control" id="activation" aria-describedby="inputGroup-sizing-sm" required
              pattern="[0-9]{6}$" [(ngModel)]="this.activationcode" name="activation" #code_activation="ngModel"
              placeholder="Entrez le code (validité 15mn)" />
          </div>

          <button (click)="onSendAuthCode()" type="button" class="mt-2 btn btn-secondary border border-white"
            [disabled]="!code_activation.valid">
            Envoyer
          </button>
        </div>
      </div>

      <!-- Case OPERATION_RESULT_STATUS -->
      <div *ngSwitchCase=2>
        <!-- 4 - Comment on operation result -->
        <div class="d-flex justify-content-center">
          <p>{{this.activateUserResponseMsgToDisplay}}</p>
        </div>
      </div>


     
      
      
      <!-- Default case -->
      <div *ngSwitchDefault>
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>

        
      </div>
    </div>
  </div>
</form>