<div class="dropdown dropdown-menu-start">
  <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
    <img class=" w-50 dropdown-toggle" src="../../../assets/flag.svg" alt="Change language website">
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li (click)="onSelectFrench()" class="d-flex flex-row align-items-center inote-link-normal">
      <img class=" ms-3 me-1 w-25 dropdown-toggle" src="../../../assets/lang/fr.svg" alt="French">
      <p>Fr</p>
    </li>
    <li (click)="onSelectEnglish()" class="d-flex flex-row align-items-center inote-link-normal">
      <img class=" ms-3 me-1 w-25 dropdown-toggle" src="../../../assets/lang/en.svg" alt="English">
      <p>En</p>
    </li>
  </ul>
</div>