<button class="btn btn-secondary border border-white dropdown inote-link-normal me-3" role="button"
  data-bs-toggle="dropdown" aria-expanded="false">
  <div [ngSwitch]="this.languageManagerService.getCurrentLanguage()" class="d-flex">
    <!-- FR -->
    <div *ngSwitchCase="1">
      <img src="../../../assets/lang/fr.svg" alt="user profile img"
        class="img-fluid   border border border-secondary-subtle" id="user-profile">
    </div>
    <div *ngSwitchDefault>
      <img src="../../../assets/lang/en.svg" alt="user profile img"
        class="img-fluid border border border-secondary-subtle" id="user-profile">
    </div>
  </div>
  <ul class="dropdown-menu dropdown-menu-end">
    <li>
      <a (click)="this.onSelectEnglish()"
        class="dropdown-item  inote-link-normal d-flex align-items-center justify-content-end">
        <img src="../../../../assets/lang/en.svg" alt="logo_en" class="me-2">
        EN
      </a>
    </li>
    <li>
      <a (click)="onSelectFrench()"
        class="dropdown-item  inote-link-normal d-flex align-items-center justify-content-end">
        <img src="../../../../assets/lang/fr.svg" alt="logo_fr" class="me-2">
        FR
      </a>
    </li>
  </ul>
</button>