.inoteNavLink{
    text-decoration: none;
    color: white;
}

#fullPageHeight_withNavBar{
    height: 90vh;
    width: 100%;
  }

.inote-link-normal{
    cursor:pointer;
}

.inote-small-comment{
    font-size: smaller;
}
